#header {
    margin: auto;
    
    .btn-nav {

        width: 10em;
        background: $mainColor;
        margin: 8px;
        padding: 3px 0;
        color: $white;
        &:hover {
          background: $mainColor;
        }
      } 
}

@media (min-width: 768px) {
  .btn-nav {
    width: 10em;  
  }
}