$colorPrimary: #BA1A00;
$colorTxt: #651106;
$colorBack: #DA7D54;
// $colorBackSecond: #303134;
// $colorBorder: #3c4043;
$white: #fff;
$black: #000;

html {
  scroll-behavior: smooth;
}
main {
  min-height: 50vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
    h1 {
      font-size: 4rem;
      color: $colorTxt;
    }
}
a {
  text-decoration: none;
}
