$mainColor: #651106;
$secondColor: #DA7D54;

// $colorBackSecond: #303134;
// $colorBorder: #3c4043;
$white: #fff;
$txtColor: $mainColor;

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

// Layout : 
#main {
  margin-top: 5vh;
}


// Font : 
.txt-important {
  color: $mainColor;
  text-align: center;
}
.main-home {

  p{
    font-size: 1.2rem;
    color: $txtColor;
  }
}



